@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

body {
	background-color: #105B63;
	color: #FFFAD5;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;

	a {
		color: #DB9E36;

		&:hover {
			color: #FFD34E;
		}
	}
}

#header {
	background: #0C464C;
	border-bottom: #136973 1px dashed;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 3em;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			line-height: 3em;
			display: inline-block;
			*display: inline; /* ie7 */
			*zoom: 1; /* ie7 */
		}
	}

	a {
		text-decoration: none;
		display: block;
		padding: 0 1em;
	}
}

#home, #about, #work {
	position: absolute;
	display: inline-table;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#headings {
	font-size: 1.8em;
	font-family: 'Cabin Condensed', sans-serif;
	text-transform: uppercase;
	text-align: center;
	display: table-cell;
	vertical-align: middle;

	h1.ng-enter {  
		-webkit-animation: fadeInDown 1s;
		-moz-animation: fadeInDown 1s;
		-ms-animation: fadeInDown 1s;
		animation: fadeInDown 1s;
	}

	h2.ng-enter {  
		-webkit-animation: fadeInUp 1s;
		-moz-animation: fadeInUp 1s;
		-ms-animation: fadeInUp 1s;
		animation: fadeInUp 1s;
	}

	p.ng-enter {
		-webkit-animation: fadeInUpBig 1s;
		-moz-animation: fadeInUpBig 1s;
		-ms-animation: fadeInUpBig 1s;
		animation: fadeInUpBig 1s;
	}

	h1 {
		color: #FFD34E;
		font-size: 2.8em;
	}

	h2 {
		color: #FFFAD5;
	}

	h1, h2 {
		font-weight: normal;
		margin: 0;
	}

	p {
		font-size: 0.6em;
		text-transform: lowercase;

		span {
			color: #BD4932;
		}
	}
}